<ul class="sidenav sidenav-fixed a-sidenav blue-grey darken-4 grey-text text-lighten-1">
  <h5 class="center-align">Панель меню</h5>

  <li class="bold" *ngFor="let link of links" routerLinkActive="active">
    <a class="waves-effect waves-blue grey-text text-lighten-1 " [routerLink]="[link.url]">
      {{link.name}}
    </a>
  </li>

  <li class="bold last"><a class="waves-effect waves-blue white-text" href="#" (click)="logout($event)"><i class="material-icons white-text">power_settings_new</i>Выйти</a>
  </li>

</ul>
<main class="content">
  <router-outlet></router-outlet>
</main>

<div class="fixed-action-btn" #floating>
  <a class="btn-floating btn-large deep-orange darken-3">
    <i class="large material-icons">adjust</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green" routerLink="/order">
        <i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue" routerLink="/categories/new">
        <i class="material-icons">library_add</i>
      </a>
    </li>
  </ul>
</div>

<a class="waves-effect waves-light btn btn-floating" id="menu"><i class="material-icons">info</i></a>
